{% extends 'base.html' %}
{% block content %}
    <div class="card mb-3 card-history" style="max-width: 80%;" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://posmotrim.by/pics/534b84916.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Полоцк, не менее древний, чем Киев и Новгород</h5>
                    <p class="card-text">Полоцк, не менее древний, чем Киев и Новгород, первое историческое упоминание о
                        нем содержится в «Повести временных лет» под 862 годом.
                        На протяжении всей истории Полоцка, город то и дело осаждали, «брали», калечили и вновь
                        отстраивали. Через него направлялись в Россию завоеватели, коих всегда отыскивалось немало. Не
                        обошли стороной эти места ни Отечественная война 1812 года, ни обе мировые войны XX столетия.
                        Не забудем и про пожары — настоящий бич старой Европы: Полоцк неоднократно горел, временами
                        буквально до головешек.
                        В советскую эпоху, относившуюся к прошлому с большим недоверием, старым памятникам тоже
                        приходилось несладко — большевики, пестовавшие «нового человека», отряхнувшего со своих ног
                        «пыль веков», со страстью выметали эту «пыль» с улиц древних городов: на месте уничтожаемых
                        старых зданий вырастали безликие типовые кварталы.
                        Общие потери оценить трудно, они огромны, и, тем не менее, Полоцк чудом сохранил вид и атмосферу
                        тихого провинциального города с великой историей: к востоку от Верхнего замка, на котором стоит
                        Софийский собор.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 card-history" style="max-width: 80%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://posmotrim.by/pics/534b84916.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Княжна Рогнеда, родоначальница Полоцких князей Изяславичей</h5>
                    <p class="card-text">В 980 году, согласно «Повести временных лет», к полоцкому князю Рогволоду
                        явились сваты от князя Владимира (будущего крестителя Руси), княжившего тогда в Новгороде. «Хощу
                        пояти дщерь твою собе жене», — послал сказать Владимир Рогволоду.

                        «Дщерь» звали Рогнедой и была она исполнена горделивого сознания собственных достоинств. На
                        отцовский вопрос о Владимире она ответила: «Не хочю розути робичича, но Ярополка хочю». Рогнеда
                        не желала выходить замуж за сына наложницы, коим являлся Владимир, но видела себя женой
                        киевского князя Ярополка, и об этом уже было сговорено («в се же время хотя-ху Рогнедь вести за
                        Ярополка»), Владимир, уязвленный ответом Рогнеды, явился с войском в Полоцк, убил Рогволода и
                        насильно «поял» его гордую дочь себе в жены.

                        С тех пор прошло семь лет. Рогнеда родила Владимиру нескольких детей, но ничего не забыла.
                        Поруганная честь взывала к отмщению. В 987 году она решилась убить мужа. Покушение не удалось;
                        Владимир уже занес меч, чтобы казнить жену, но на крики прибежал их сын Изяслав. Он бросился на
                        помощь матери, и Владимир не смог убить Рогнеду на глазах ребенка. По совету приближенных он
                        отослал ее вместе с Изяславом «в отчину отца ее». И от Изяслава пошли полоцкие князья —
                        Изяславичи.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 card-history" style="max-width: 80%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Полоцкие князья</h5>
                    <p class="card-text">Очевидно, что христианизация Полоцкой земли относится именно к правлению
                        Изяслава. Скончался он около 1001 года, оставив после себя двоих сыновей, но первый из них скоро
                        умер, и Полоцкое княжество досталось, таким образом, второму сыну Брячиславу неразделенным.

                        Полоцкая ветвь Рюриковичей существовала обособленно, если не сказать — изолированно от других.
                        Сношения Брячислава, а затем и его сына, прозванного Всеславом Чародеем, с другими князьями
                        происходили главным образом посредством мечей на поле битвы. И, возможно, поэтому даже
                        магистральные культурные тенденции, свойственные всему пространству Древней Руси, в Полоцке
                        проявлялись несколько позднее, чем в других «ключевых» городах — Киеве и Новгороде.

                        Тем не менее уже в эпоху Всеслава (он княжил с 1044 года) Полоцк достиг высокой степени
                        благосостояния, был построен каменный Полоцкий Софийский собор. Внутренность собора была богато
                        украшена. Довершали убранство Полоцкой Софии новгородские «трофеи», привезенные в 1067 году
                        Всеславом Чародеем. Среди трофеев были колокола соборного храма. Так новгородская София невольно
                        «поделилась» с Софией полоцкой.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 card-history" style="max-width: 80%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">История Полоцка в составе Литвы, процветание города, «Полоцкая Венеция»</h5>
                    <p class="card-text">Во второй половине XVI века Полоцк находился в «зоне войны» между Русским
                        государством и Великим княжеством Литовским (впоследствии — Речью Посполитой). Это время следует
                        считать переломным в истории Полоцка. До того он, формально входя в состав Великого княжества
                        Литовского, предоставлял своим гражданам широчайшие права и свободы (полочане не платили
                        таможенных пошлин на всей территории Великого княжества, были подсудны только местному суду и т.
                        п.) и процветал как торговый и ремесленный центр, платя налогов в государственную казну в два
                        раза больше, чем Новогрудок, Гродно и Минск вместе взятые. В XIV—XV веках город на Двине не шутя
                        называли «Полоцкой Венецией».

                        В церковном отношении самостоятельная Полоцкая епархия существовала с 1104 года, будучи выделена
                        из епархии Переяславской. С 1391 года ею управляли архиепископы. Среди полоцких владык мы
                        обнаружим немало достойных архипастырей, трое из них прославлены в лике святых. Это святители
                        Мина, Дионисий, Симеон Полоцкий.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 card-history" style="max-width: 80%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">История Полоцка в XVI веке, взаимоотношения с Московским государством. Иван
                        Грозный в Полоцке.</h5>
                    <p class="card-text">Взаимоотношения Московского государства и Великого княжества Литовского все
                        более обострялись, и жертвой этого обострения пала «Полоцкая Венеция». Она постепенно
                        превращалась из торгового города в приграничную крепость. В 1500—1530 годах русские войска
                        десять (!) раз подступали к ней. Захватить ее они не могли, но постоянные осады внесли в жизнь
                        полочан новую интонацию. Сообразно ей изменился и облик Софии: она приобрела черты оборонного
                        храма, и без того узкие окна заложили еще больше, превратив их в бойницы.

                        15 февраля 1563 года Полоцк все-таки пал под натиском войска Ивана IV. Двухнедельная осада
                        увенчалась успехом. Грозный царь надеялся закрепить город в составе Русского государства, для
                        чего приказал возвести в нем еще одну крепость — так называемый Нижний, или Стрелецкий, замок.
                        От него до наших дней сохранился вал, окруживший территорию в шесть гектаров и когда-то имевший
                        десятиметровую высоту. На валах были сооружены деревянные башни и стены.
                        Впрочем, усилия Ивана Грозного (а он лично наблюдал за постройкой замка) пропали даром. В 1579
                        году русский гарнизон почти без боя сдал его Стефану Баторию. Полоцк вновь оказался в составе
                        Великого княжества Литовского — а точнее, Речи Посполитой. Кстати, появление на геополитической
                        арене Речи Посполитой было во многом ускорено падением Полоцка в 1563 году. Литва, желая
                        упрочить свое положение в Ливонской войне, пошла в 1569 году на заключение унии с Польшей, тогда
                        как прежде литовские магнаты противились ей, опасаясь потерять свои права и привилегии.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 card-history" style="max-width: 80%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://posmotrim.by/pics/534b84916.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">История Полоцка после принятия Брестской унии. Насаждение католичества.</h5>
                    <p class="card-text">Через без малого тридцать лет после Люблинской унии 1569 года последовала уния
                        Брестская, нанесшая Православной Церкви в западно-славянских землях рану, от которой она так и
                        не оправилась вполне по сей день. Полоцкая епархия попала в унию сразу же, в 1596 году. Все
                        епископы, руководствуясь теми или иными соображениями, признали главенство Папы Римского.

                        «Православное сопротивление» в Белой Руси выливалась в восстания. На древней Полоцкой земле
                        очагом восстания был Богоявленский братский монастырь, многие годы остававшийся единственным
                        местом, где могли молиться и участвовать в Таинствах православные полочане. Все остальные
                        монастыри и храмы, включая Софию, находились в распоряжении грекокатоликов.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 card-history" style="max-width: 80%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://posmotrim.by/pics/534b84916.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Полоцк и Русско-польская война</h5>
                    <p class="card-text">В середине XVII века Полоцк на некоторое время, в ходе русско-польской войны
                        1654—1667 годов, оказался под властью московского царя Алексея Михайловича. Православные
                        верующие вздохнули свободнее и смогли вернуть себе некоторые храмы. Но после возвращения Полоцка
                        в состав Речи Посполитой церкви были отобраны вновь, а репрессии против православных усилились.

                        Интересно, что в той войне весьма многие полоцкие шляхтичи воевали на стороне Москвы, а после
                        заключения Андрусовского мира, по которому Полоцк переходил к Речи Посполитой, массово подавали
                        челобитные с просьбой остаться в России. Переселялись в Московское государство и полочане
                        простого звания. Эти «исходы», несомненно, имели своей причиной униженность православных в Речи
                        Посполитой.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 card-history" style="max-width: 80%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://posmotrim.by/pics/534b84916.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Гнев Петра I, уничтожение Софийского собора</h5>
                    <p class="card-text">Летом 1705 года, в разгар Северной войны, в Полоцк прибыл Петр I. С его
                        двухнедельным пребыванием здесь связан эпизод, трактуемый униатскими и российскими источниками
                        по-разному. Суть вот в чем: в канун празднования памяти святых первоверховных апостолов Петра и
                        Павла русский император пришел в Софийский собор. По привычке монарха он собирался зайти в
                        алтарь, но монахи-базилиане не пустили его, так как для них он являлся «неверным». Сдерживая
                        гнев, царь принялся осматривать храм. Его внимание привлекла икона Иосафата (Кунцевича). Монахи
                        «объяснили» ему, что это «священномученик Иосафат, убиенный схизматиками» (т. е., собственно,
                        православными).

                        А дальше показания источников расходятся. В российских говорится, что Петр приказал бывшим при
                        нем солдатам арестовать «предерзких» монахов, но последние подняли шум, на который сбежались
                        вооруженные послушники. Началась свалка, в ходе которой четверо униатских монахов были убиты, а
                        несколько человек из свиты Петра получили ранения. Униаты же говорят о том, что монахов в
                        приступе гнева убил лично император, да еще потом и ограбил собор.

                        Словом, правды не доищешься. Известно, однако, что после этого происшествия царь хотел вернуть
                        Софию православным, но те отказались принять ее, справедливо опасаясь новых репрессий со стороны
                        польских властей.

                        А завершилась история взаимоотношений Петра и Софийского собора печально. Царь разместил в
                        соборе, откуда он таки выгнал базилиан, пороховой склад. И в 1710 году он взорвался. От древней
                        святыни остались лишь руины, которые в 1738 году сделались основой нового униатского храма,
                        выстроенного в формах Виленского барокко, но о Софии XI века в нем уже ничто не напоминало.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 card-history" style="max-width: 80%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://posmotrim.by/pics/534b84916.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Полоцк в составе Росссийской империи, история после запрета униатства.</h5>
                    <p class="card-text">В 1839 году в Софийском соборе Полоцка состоялось воссоединение униатов с
                        Православной Церковью. Сопротивления оно не встретило. Белое духовенство и миряне в массе своей
                        восприняли его благожелательно и даже с энтузиазмом. Уния на территории Российской империи была
                        упразднена, Софийский собор вновь стал православным. Так закончился католический период в
                        истории Полоцка.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}